<mat-toolbar class="too">
    <img src="assets/unesys.png" alt="unesys" width="35px" height="35px">
    <p style="margin-left: 15px; margin-top: 10px;">UNESYS</p>
</mat-toolbar>
<div class="tii">
    <mat-toolbar class="toe"><p class="ti">Consultor</p></mat-toolbar>
    <br>
    <form action="" method="post">
        <mat-form-field appearance="outline">
            <mat-label>Usuario/Correo</mat-label>
            <input matInput name="user">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" name="password">
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button>Ingresar</button>
    </form>
    <br><br>
    <div>
        <span>
            <img src="assets/logo_une33.png" alt="une" width="50px" height="40px">
            <p style="font-weight: 600;">Universidad Nacional del Este
                <br>
                Dirección General de Tecnología e Innovación
                <br>
                © 2020
                </p>
        </span>
    </div>



    <a [routerLink]="['/bienvenida']" routerLinkActive="router-link-active" >asdasdas</a>