<mat-toolbar>
    <img src="assets/rsz_1rsz_1crealogo.png" alt="creasoft" width="50px" height="35px">
    <p class="ti"> Creasoft</p>

</mat-toolbar>
<mat-card class="pres">

    <div class="acerca">
        <span>
            <p style="font-weight:600;">Acerca de nosotros:</p>
            <span>Creasoft es una empresa joven que nació ante los sueños y anhelos de su fundador el Ing. Cristian Omar
                González Valdez, en el año 2007, quien buscaba, en su momento, brindar servicios básicos de asistencia,
                asesoría, instalación, actualización y mantenimiento de recursos informáticos. Fue en el año 2008, en un
                proyecto de investigación financiado por el Parque Tecnológico de Itaipu, cuando Cristian tiene el
                primer contacto con la plataforma Virtual Moodle, a través de un estudio relacionado a la implementación
                de esta plataforma en una unidad académica. A partir de entonces, Cristian se vuelve un referente en
                cuanto a la utilización de la plataforma Moodle en el ámbito educativo en la Universidad Nacional del
                Este. En 2009, Cristian imparte un curso de capacitación destinado a docentes y funcionarios de la
                Escuela de Posgrado (EPR), con el propósito de que los mismos adquieran las habilidades necesarias para
                la utilización de la plataforma virtual; desde la fecha, la EPR viene utilizando la plataforma virtual
                de aprendizaje y se ha convertido en referente para las demás instituciones que conforman a la UNE.
                Actualmente, Cristian imparte cursos de capacitación a docentes y autoridades de distintas instituciones
                de Educación Superior. En el transcurso del año 2007 a la actualidad, Cristian a integradas diferentes
                empresas orientadas a dar soluciones informáticas a diferentes empresas. Hoy en día, la empresa Creasoft
                está integrada por profesionales de diferentes áreas del conocimiento, trabaja colaborativamente con
                diferentes instituciones, asesorías y empresas a nivel nacional, así como con SOLEDU a nivel
                internacional.</span>
        </span>
    </div>
    <div class="equipo">
        <table>
            <th>
                <div class="matias">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </th>
            <th>
                <div class="matias">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </th>
            <th>
                <div class="matias">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </th>
        </table>
    </div>

</mat-card>