<mat-toolbar class="to">
    <p class="io"><i id="i" class="fas fa-bars" ></i></p>
  <span class="yu"><a style="color:white;" [routerLink]="['/inicio']" routerLinkActive="router-link-active" >Inicio</a></span>
  <div class="not">
  
    <p class="mes"><i class="far fa-envelope" [matMenuTriggerFor]="menu"></i></p>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  
  
    <p class="bell"><i class="far fa-bell" [matMenuTriggerFor]="menuu"></i></p>
    <mat-menu #menuu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  
  
  <div>
  <img class="imh" [matMenuTriggerFor]="menuuu" src="assets/Forma 2.png" alt="user" name="user" width="35px" height="30px" style="border-radius:50px ;">
  <p class="arro"><i class="fas fa-angle-down"></i></p>
  <mat-menu #menuuu="matMenu" xPosition="before">
    <div class="sub"><p class="conf">Configuración</p></div>
    <mat-divider></mat-divider>
    <button mat-menu-item><a style="color: black;" [routerLink]="['/perfil']" routerLinkActive="router-link-active" >Perfil</a></button>
    <button mat-menu-item><a style="color:black;" [routerLink]="['/configuraciones']" routerLinkActive="router-link-active" >Ajustes</a></button>
    <button mat-menu-item><a style="color: black;" [routerLink]="['/pago']" routerLinkActive="router-link-active" >Pago</a></button>
    <button mat-menu-item><a style="color: black;" [routerLink]="['/mensajes']" routerLinkActive="router-link-active" >Mensajes</a></button>
    <mat-divider></mat-divider>
    <br>
    <div><p class="conf">Información</p></div>
    <mat-divider></mat-divider>
    <button mat-menu-item><a style="color: black;" [routerLink]="['/acerca']" routerLinkActive="router-link-active" >Acerca</a></button>
    <button mat-menu-item>Salir</button>
  </mat-menu>
  </div>
  </div>
  </mat-toolbar>
  