/***Header****/
.to{
    background-color:rgba(8, 160, 8, 0.781) ;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}
.io{
    margin-top: 12px;
}
#i{
    font-size: 25px;
}
.yu{
    margin-left: 10px;
    
}
.mes{
    right: 140px;
    position: absolute;
    top: 15px;
}
.bell{
    right: 95px;
    position: absolute;
    top: 15px;
}
.imh{
    right: 35px;
    position: absolute;
    top: 15px;
}
.arro{
    position: absolute;
    right: 16px;
    top: 15px;

}
.conf{
    font-weight: 500;
    margin-left: 5px;
}














/***Tools****/
a:link{
    text-decoration: none;
}